<div class="features">

    {% for skill in site.skills %}

    {% if skill.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-solid fa-{{ skill.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ skill.title }}
            </h3>
            <p>
                {{ skill.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>